@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin:0 auto;
    padding:0 auto;
    text-decoration: none;
    color: #151515;
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

.header{
    position: absolute;
    display:flex;
    justify-content: space-between;
    width:100%;
    height:60px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.header_title{
    margin:0;
    margin-left:3.125vw;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100%;
}

.title_button{
    font-size: 24px;
}

.header_menu{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin:0;
    margin-right:3.125vw;
}

.lists{
    display:flex;
    padding:0;
}

.list_item{
    margin-left:1.563vw;
}

.list_item:first-child{
    margin-left:0;
}